﻿.maindiv {
    /*width: 40%;
    height: 100%;*/
    /*overflow-y:scroll;*/
    float:right;
    font-family:Tahoma;
}
.labelStock{
    /*padding-left:83%;*/
}

.StockImg {
    width: 500px !important;
    height: 350px !important;
}

.modalGetImg{
    height:200px;
}