﻿@*<script src="~/Scripts/save_Data.js"></script>*@
<div class="container">
    <div class="row">

       
        <div class="col-md-8 pull-right">

            <div class="container text-center maindiv pull-right" dir="rtl" id="div1">
                <div class="form-group">
                    <label for="stockname" class="control-label pull-right">نام سهم</label>
                    <input class="form-control" name="Name" id="stockname" placeholder="نام سهم" />
                </div>
                <div class="form-group">
                    <label for="date_of_buy" class="control-label labelStock pull-right">تاریخ خرید</label>
                    <input class="form-control" name="dateOfBuy" id="date_of_buy" placeholder="تاریخ خرید" />
                </div>
                <div class="form-group">
                    <label for="buy_price" class="control-label labelStock pull-right">قیمت خرید</label>
                    <input class="form-control" name="buy_price" id="buy_price" placeholder="قیمت خرید" />
                </div>
                <div class="form-group">
                    <label for="Dayes_Left" class="control-label labelStock pull-right">تعداد روز سپرده</label>
                    <input class="form-control" name="Number_of_days_of_deposit" id="Dayes_Left" placeholder="تعداد روز سپرده" />
                </div>
                <div class="form-group">
                    <label for="Ex_profit" class="control-label labelStock pull-right">حد سود</label>
                    <input class="form-control" name="Expected_profit" id="Ex_profit" placeholder="حد سود" />
                </div>
                <div class="form-group">
                    <label for="Ex_damage" class="control-label pull-right">حد ضرر</label><br />
                    <input class="form-control" name="Expected_Damage" id="Ex_damage" placeholder="حد ضرر" />
                </div>
                <div class="form-group">
                    <label for="Cout_of_take_stock" class="control-label labelStock pull-right">تعداد سهم</label>
                    <input class="form-control" name="Cout_of_take_stock" id="Cout_of_take_stock" placeholder="تعداد سهم" />
                </div>

                <button class="btn btn-success btn-block" onclick="save()">Save</button>

            </div>

        </div>

    </div>
</div>