﻿
@{
    ViewBag.Title = "Index";
}

<h2>Add Stock</h2>
<link href="~/Content/mainstyle.css" rel="stylesheet" />
<script src="~/Scripts/save_Data.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

<div>
    <div id="view">
        <br />
        please wait...
    </div>

</div>

@section Scripts{
    <script>
        $(function () {
            $("#view").load('/Home/Show_my_Stock');
        })

        function addstack() {
            $("#view").load("/Home/AddStock")
        }
    </script>
}


