﻿
@{
    ViewBag.Title = "Show_my_Stack";
}
@*<script src="~/Scripts/save_Data.js"></script>*@

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/mainstyle.css" rel="stylesheet" />
<h2>Show_my_Stack</h2>
<button class="btn btn-success" onclick="addstack()">Add Stack</button><br /><br />
@model IEnumerable<WatchListweb.Models.Add>
<table class="table table-bordred">
    <tr>
        <th>نام</th>
        <th>سرمایه اولیه</th>
        <th>قیمت خرید در لحظه</th>
        <th>تعداد روز سرمایه گذاری</th>
        <th>سود نهایی</th>
        <th>ضرر نهایی</th>
        <th>تعداد سهم</th>
        <th>حد سود</th>
        <th>حد زیان</th>
        <th>درصد سود</th>
        <th>درصد ضرر</th>
        <th>تعداد روز باقی مانده</th>
        <th>تصویر</th>

        @{


            int Stock_id = 0;
        }
    </tr>
    @foreach (var item in Model)
    {
        Stock_id = item.Id;
        <tr>
            <td>@item.Name</td>
            <td>@item.Buy_price</td>
            <td>@item.Number_of_days_of_deposit</td>
            <td>@item.Profit</td>
            <td>@item.Damage</td>
            <td>@item.Cout_of_take_stock</td>
            <td>@item.Expected_profit</td>
            <td>@item.Expected_Damage</td>
            <td>@item.The_number_of_days_left</td>
            <td>
                @if (item.ImgPath == null)
                {


                    <button type="button" onclick="show_Modal_Insert_Img()" data-toggle="modal" data-target="#Modal1">آپلود تصویر</button>


                }
                else if (item.ImgPath != null)
                {<button>تغییر تصویر</button>}
            </td>

        </tr>
    }



</table>
<div class="modal fade" role="dialog" id="modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body modalGetImg">
                <form action="/Home/Getimg" enctype="multipart/form-data" method="post">
                 
                        <div class="form-group pull-right">
                            <label for="stockname" class="control-label labelStock pull-right">تصویر</label>
                            <input name="image" class="form-control pull-right" id="stockfileImg" type="file" />

                        </div>
                        @*<input hidden value="@Stock_id" name="id" />*@

                        <div id="imgView" class="container text-center">
                            <button type="button" id="btn_remove_img" class="btn btn-danger btn-sm">&times;</button>
                            <img class="StockImg" id="StockImg"/>
                        </div>
                        <br />
                        <button onclick="" class="btn btn-success">save img</button>

                 

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function show_Modal_Insert_Img() {

        $("#modal1").modal();
    }


</script>
<script>
    $(function () {
        $("#imgView").hide();
    })
</script>
<script>

    $(function () {
        $(stockfileImg).change(function () {
            var reader = new FileReader();
            reader.readAsDataURL(stockfileImg.files[0])
            reader.onloadend = function (e) {
                if ($(imgView).hide()) {
                    $(imgView).show(1000)
                }
                StockImg.src = e.target.result;
                


            }
        })
    })


    $("#btn_remove_img").click(function () {
        StockImg.src = '';
        stockfileImg.src = '';
        $("#stockfileImg").val('')
        $("#imgView").hide();

    })
</script>





