﻿


<h2>UploadImgView</h2>


@*<script src="~/Scripts/save_Data.js"></script>*@

<br />


<div class="form-group pull-right">
    <label for="stockname" class="control-label labelStock pull-right">تصویر</label>
    <input onchange="inputGetImg()" name="img" class="form-control pull-right" id="stockfileImg" type="file" />

</div>
<input hidden value="" name="id" />

<div id="imgView" class="container text-center">
    <button id="btn_remove_img" class="btn btn-danger btn-sm">&times;</button>
    <img class="StockImg" id="StockImg" />
</div>
<br />
<button onclick="" class="btn btn-success">save img</button>

